<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 自定义别名 -->
    <typeAliases>
        <!-- 单个别名定义 -->
        <!-- <typeAlias type="ccom.wayzim.pojo.User" alias="user"/> -->

        <!-- 批量别名定义（推荐） -->
        <!-- package：指定包名称来为该包下的po类声明别名，默认的别名就是类名（首字母大小写都可） -->
        <package name="com.wayzim.pojo"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="com.wayzim.typehandler.GenderEnumHandler"></typeHandler>
    </typeHandlers>

    <plugins>
        <plugin interceptor="com.wayzim.interceptor.MySqlInterceptor"></plugin>
    </plugins>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://127.0.0.1:3306/wmsboot?useUnicode=true&amp;
                          characterEncoding=utf-8&amp;useSSL=false&amp;serverTimezone=UTC"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!--xml文件扫描路径配置-->
        <mapper resource="com/wayzim/mapper/UserMapper.xml"/>
        <!--mapper接口文件扫描路径配置-->
        <package name="com.wayzim.mapper.*"></package>
        <!--https://www.cnblogs.com/javabg/p/7999756.html-->
    </mappers>
</configuration>