<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wayzim.mapper.UserMapper">


    <resultMap id="userMapper" type="user">
        <result property="id" column="id" />
        <result property="username" column="username" />
        <result property="sex" column="sex"
                typeHandler="com.wayzim.typehandler.GenderEnumHandler"
        />
    </resultMap>
    <select id="selectAll" resultType="User" >select * from t_user</select>

    <select id="selectById" resultMap="userMapper" parameterType="string">select * from t_user where id = #{id}</select>

    <update id="updateById">update t_user set username=#{username} where id = #{id}</update>

</mapper>

